@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "ProximaNova, sans-serif";
    src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
    --color-black: #222123;
    --color-main-bg: #232224;
    /* bg-main-bg */
    --color-white: #ffffff;
    --color-dark-brown: #523122;
    --color-mid-brown: #a26833;
    --color-light-brown: #e3a458;
    --color-red-brown: #7f3b2d;
    --color-yellow-brown: #a26833;
    --color-milk-yellow: #e3d3bc;
    --color-red: #a02128;
    --color-milk: #faeade;
    --font-sans: "Antonio", sans-serif;
    --font-paragraph: "ProximaNova, sans-serif";
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #faeade;
    color: #523122;
    font-family: "Antonio", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}


@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .col-center {
        @apply flex flex-col justify-center items-center;
    }

    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .general-title {
        @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
    }
}


@layer components {

    .paragraph-line {
        @apply text-nowrap overflow-hidden;
    }

    .hero-wrapper {
        @apply relative bg-milk w-screen h-dvh overflow-hidden;

        .hero-content {
            @apply relative z-10 w-full h-full flex flex-col 2xl:justify-center items-center translate-y-10 2xl:pt-0 md:pt-32 pt-24;

            .hero-title {
                @apply text-dark-brown 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold uppercase leading-[9vw] tracking-[-.35vw] 2xl:mb-0 mb-5;
            }

            .hero-text-scroll {
                @apply rotate-[-3deg] mb-8 border-[.5vw] border-milk;

                .hero-subtitle {
                    @apply bg-mid-brown;
                }

                h1 {
                    @apply uppercase 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold text-[#fce1cd] leading-[9vw] tracking-[-.35vw] 2xl:px-[1.2vw] px-3 2xl:pb-[1vw] pb-5 2xl:py-0 py-3;
                }
            }

            h2 {
                @apply font-paragraph text-dark-brown text-center md:max-w-lg max-w-sm px-5 md:text-lg leading-[115%] mt-3;
            }

            .hero-button {
                @apply md:mt-16 mt-10 text-dark-brown bg-light-brown uppercase font-bold text-lg rounded-full md:p-5 p-3 md:px-16 px-10;
            }
        }
    }
}